spinbutton {
    min-height: 0px;
    min-width: 0px;
    font-size: 10.6px;
  }
  
  spinbutton button {
    padding: 0px;
  }

  spinbutton.vx {
    border-left: 2px solid red;
  }
  spinbutton.vy {
    border-left: 2px solid green;
  }
  spinbutton.vz {
    border-left: 2px solid blue;
  }
  
  .rich-list row {
    padding: 3px;
  }
  .rich-list row box {
    border-spacing: 5px;
  }

  textview {
    font-size: 12pt;
  }