spinbutton {
  min-height: 0px;
  min-width: 0px;
  font-size: 10.6px;
}

spinbutton button {
  padding: 0px;
}

spinbutton.vx {
  border-left: 2px solid red;
}

spinbutton.vy {
  border-left: 2px solid green;
}

spinbutton.vz {
  border-left: 2px solid blue;
}

.rich-list row {
  padding: 3px;
}

.rich-list row box {
  border-spacing: 5px;
}

textview {
  font-size: 11pt;
  font-family:'Geist Mono',system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.expander_n title {
  background-color: #202020;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #191919;
}

.expander_n {
  margin: 5px;
  margin-bottom: 0px;
}

.system_item row {
  padding: 5px;
}
